<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>o2 정보통신</title>


        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />



        <link rel="stylesheet" href="../../public/stylesheets/gapSet.css" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    </head>

    <body>

        <main class="d-flex flex-nowrap">

            <script>
                let select_list = document.getElementsByClassName("select_list");
            </script>
    
            <% if(locals.admin){ %>
                <%- include('../lib/admin_menuBar.ejs') %>
    
                <% if(locals.user_key == 2){ %>
                    <script>
                        select_list[5].children[0].className = "nav-link active";
                    </script>
                <% } else { %>
                    <script>
                        select_list[2].children[0].className = "nav-link active";
                    </script>
                <% } %>
                
    
            <%  } else{ %>
                    <%- include('../lib/menuBar.ejs') %>
    
                    <script>
                        let menubar = document.getElementById("menuBar")
                        menubar.children[2].children[0].className = "nav-link active";
                    </script>
            <%  } %>



            <div class="b-example-divider b-example-vr" id="board" >
                
                <div id="navi">
                    <a href="../">설정</a> >
                    <a href="#">센서 오차값 설정</a>
                </div>
                <div id="setting">
                    <h3>센서 오차값 설정 <hr style="color: gray;"></h3>
                    
                    <div id="setting_wrap">

                        <% let sensor = ["수온 (°C)", "DO (mg/L)", "pH (pH)", "염도 (Sa)", "ORP (mV)", '탁도 (NTU)'] %>

                        <% for (let i=0; i<6; i++ ) { %>
                            <div class="sensor_wrap">
                                <p class="sensor_name"><%=sensor[i]%></p>
                                <div>
                                    <div class="value_wrapper">
                                        <input type="number" class="gap_value">
                                    </div>
                                    
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <button id="setting_btn" onclick="gapSet_update()">설정 완료</button>
                </div>
                
                
        
            
            </div>


            <script>
                window.onload = function(){
                    gapSet_before();
                }
            </script>

            <script src="../../public/javascripts/gapSet.js"></script>

            <!-- <script src="../../public/javascripts/menubar.js"></script> -->

        </main> 

    </body>
</html>