<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>o2 정보통신</title>


        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />


        <!-- 폰트 -->
        <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
        <link rel="stylesheet" href="../../public/stylesheets/style.css" />

        <!-- Bar css -->
        <link rel="stylesheet" href="../../public/stylesheets/topBar.css" />

        <link rel="stylesheet" href="../../public/stylesheets/cctv.css" />

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

        <!-- <script src="../../kakao_key.js"></script> -->


        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.1/jsmpg.js"></script>

        


        <!-- <link href="https://unpkg.com/video.js@7.3.0/dist/video-js.min.css" rel="stylesheet">
        <script src="https://unpkg.com/video.js@7.3.0/dist/video.min.js"></script>
        <script src="newskin.js"></script> -->
        
        


        
     </head>

    <body>


        <main class="d-flex flex-nowrap">

            <script>
                let select_list = document.getElementsByClassName("select_list");
            </script>
    

            <%- include('../lib/menuBar.ejs') %>

            <script>
                let menubar = document.getElementById("menuBar")
                menubar.children[2].children[0].className = "nav-link active";
            </script>

            

            <div class="b-example-divider b-example-vr" id="board" style="position:absolute; width: 90%; right: 0;">

                <%-include('../lib/topBar.ejs') %>

            <script>
                let topBar_title = document.getElementById("menu_title")
                topBar_title.innerText = " 양식장 설정 화면"
            </script>

                <!-- <h1></h1> -->


                <div id="cctv">

                    <!-- <video id="player" 
                    class="video-js"  class="video-js" controls preload="none" width="1200" height="700">
                        <source src="../../public/cctv/test.m3u8" type="application/x-mpegURL">
                      </video>

                    <script>
                        var player = videojs('player');
                        player.play();
                    </script> -->


                    <!-- <video id="video" controls preload="none" width="100%"></video> -->
                    
                    <div class="cctv_view_wrap">
                        <canvas class="cctv_view" style="display: block;"></canvas>
                        <canvas class="cctv_view"></canvas>
                        <canvas class="cctv_view"></canvas>
                        <canvas class="cctv_view"></canvas>

                        <canvas class="cctv_view"></canvas>
                    </div>
                    
                    
                    <div class="cctv_select_wrap">
                        <h3>카메라 선택</h3>
                        <button class="cctv_select" onclick="cctv_select_click(0)">CCTV 1</button>
                        <button class="cctv_select" onclick="cctv_select_click(1)">CCTV 2</button>
                        <button class="cctv_select" onclick="cctv_select_click(2)">CCTV 3</button>
                        <button class="cctv_select" onclick="cctv_select_click(3)">CCTV 4</button>

                        <button class="cctv_select" onclick="cctv_select_click(4)">수중카메라</button>
                    </div>
                </div>
            
            
                <%-include('../lib/bottomBar.ejs') %>
        
            
            </div>

            
            
            <script>
                const client0 = new WebSocket('ws://211.184.227.81:9000');
                const client1 = new WebSocket('ws://211.184.227.81:9001');
                const client2 = new WebSocket('ws://211.184.227.81:9002');
                const client3 = new WebSocket('ws://211.184.227.81:9003');
                const client4 = new WebSocket('ws://211.184.227.81:9004');

                const cctv_view = document.getElementsByClassName('cctv_view');

                const cctv_select = document.getElementsByClassName('cctv_select');
                
                

                let player0 = new jsmpeg(client0, {
                  canvas: cctv_view[0],
                });

                let player1 = new jsmpeg(client1, {
                  canvas: cctv_view[1],
                });

                let player2 = new jsmpeg(client2, {
                  canvas: cctv_view[2],
                });

                let player3 = new jsmpeg(client3, {
                  canvas: cctv_view[3],
                });

                let player4 = new jsmpeg(client4, {
                  canvas: cctv_view[4],
                });


                let cctv_select_click = function(num) {
                    for(let i=0; i<cctv_view.length; i++){
                        cctv_view[i].style.display = 'none';
                    }
                    
                    cctv_view[num].style.display = 'block';
                }
            

                
             </script>

        </main> 

    </body>



    <!-- <script src="../../public/javascripts/menubar.js"></script> -->
</html>