#board{
    position:absolute;
    width: 90%;
    right: 0;

    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 10fr;
}

#log_search{
    margin: 10px auto;
    width: 80%;
    display: grid;

    grid-template-columns: 7fr 1fr 1fr;
    
}

#log_search .search_part select{
    height: 80%;
    border: 1px solid #bbb;
    padding: 0 2%;
    margin-right: 3%;
}


#log_search button{
    height: 80%;
    padding: 0 10%;
    margin-left: 5%;
    border: none;
    transition: 0.3s;
}
#log_search .search_part button{
    height: 80%;
    padding: 0 5%;
    margin-left: 1%;
    
}

#log_search .search_part button:hover{
    background-color: #888;
    color: #fff;
}

.download_btn:hover{
    background-color: green;
    color: #fff;
}
.delete_btn:hover{
    background-color: red;
    color: #fff;
}


#select_form{
    width: 80%;
    height: 70%;
    margin: 1% auto;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#select_form input{
    display: none;
}

#select_form label{
    display:flex;
    flex-direction:row;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    background-color: #fff;

    height: 90%;
    
    box-shadow: 0px 0px 10px #bbb;

    transition: 0.3s;
    cursor: pointer;

}

#select_form label:hover{
    background-color: #eee;
    color: #000;
}

#check_table:checked ~ #selet_table{
    background-color: #354793;
    color: #fff;
}
#check_graph:checked ~ #selet_graph{
    background-color: #354793;
    color: #fff;
}


#selet_table:hover{
    
}

#selet_graph{
    
}

.select_section{
    width: 80%;
    margin: 0 auto;
    height: 90%;
}

#table_section{
    
    
}


#graph_sensor_select{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 7%;
    font-size: 1.5em;
    top: 30px;
    text-align: center;
    background-color: #fff;
    z-index: 100;
    outline: none;
    border: none;
    cursor: pointer;
}
#graph_sensor_select option{
    outline: none;
    border: none;
    appearance: none;
}



#graph_section{
    display: none;
    background-color: #fff;
    height: 80%;
    box-shadow: 0px 0px 10px #bbb;
}

#graph_container{
    margin-top: -2%;
    padding: 2%;
}


#table_wrap{
    width: 100%;
    height: 90%;
    margin: 0% auto 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px #bbb;  
}


#log_table{
    width: 100%;
    height: 100%;
    text-align: center;
    table-layout:fixed;
}

#log_table tr{
    border: 1px solid #eee;
    max-height: 10px;;
}
#log_table th{
    height: 10px;
    
    text-align: left;
    border-right: 1px solid #eee;   
    background-color: #354793;
    color: #fff;
    padding: 15px 10px;
}

#log_table td {
    padding: 10px 0;
}

#log_paging{
    width: 100%;
    margin: 10px auto;
    text-align: right;
    color: #888;

    display: flex;
    flex-direction: row-reverse;

}
#log_paging_btn{
    margin-left: 5%;
}
#log_paging button{
    display: inline-block;
    color: #888;
    border: none;
    background: none;
}