<h1 class="visually-hidden">Sidebars examples</h1>

<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 20%">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
        <span class="fs-4">o2 정보통신</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="menuBar">
        <li class="nav-item">
            <a href="/" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                모니터링
            </a>
        </li>
        <li>
            <a href="/log" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                기록
            </a>
        </li>
        <li>
            <a href="/setting" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                설정
            </a>
        </li>
    </ul>

    <hr>

    <button type="button" class="btn btn-outline-light" style="margin: 5%" onclick="location.href='/logout'">로그아웃</button>

</div>