<div id="topBar_wrap">
    <div id="topBar">
        <p><span id="topBar_company"></span><span id="menu_title"></span></p>
    </div>
</div>
<script>
    let topBar_company = document.getElementById("topBar_company")
    $.ajax({
        type:'get',
        dataType:'json',
        url:`/api/user/user_info/fishery`,
        success : function(responseData) {
            let result = responseData.result;
            let profile_company = result.company

            console.log(profile_company)

            topBar_company.innerText = profile_company


            if(result.user_key == 10){
                topBar_company.innerText = '지중해담치'
            }
            
        },
        error : function(error) {
        }
    });
</script>